@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #474747c5;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0;
}
